$button-color: hsl(25, 97%, 53%);
$title-color: hsl(0, 0%, 100%);
$body-color: hsl(216, 12%, 8%);
$font-stack: Helvetica, sans-serif;
$card-color:hsl(213, 19%, 18%);
$text-color: hsl(216, 12%, 54%);
$text-font-size: .68rem;
$width-text: 85%;
$gap:3rem;
$star-color:hsl(213, 18%, 27%);
$font-weights: (
    "regular":400,
    "bold":700
);
$width: 300px;
$default-border-radius: .80rem;
$default-border-height: 1.5rem;
$default-border-width:1.5rem;
$inner-circle-size-height:.60rem;
$inner-circle-size-width:.60rem;
$top:1rem; 